In [14]:
print("Hello World")

Hello World

In [15]:
my_name = "Bo Chandra Sekhar abcdefhhhhh"
l = list(my_name.split(" "))
print(l)

['Bo', 'Chandra', 'Sekhar', 'abcdefhhhhh']

In [16]:
s = sorted(l, key = len)
print(s)
print(s[-1])

['Bo', 'Sekhar', 'Chandra', 'abcdefhhhhh']
abcdefhhhhh

This is test note book

In [19]:
b = 20.20
print("value is {0}".format(b))

value is 20.2

In [22]:
x = "Hello World abc a"
p = x.split(" ")
print(p)
s1 = sorted(p,key=len)
print(s1)
print(s1[0])
print(s1[-1])

['Hello', 'World', 'abc', 'a']
['a', 'abc', 'Hello', 'World']
a
World

In [25]:
print("{} is a famile name and First name is {}".format("Bolisetty",
                            "Chandrasekhar"))

Bolisetty is a famile name and First name is Chandrasekhar

In [27]:
result = 100/777
print(result)

0.1287001287001287

In [33]:
print("Float value is {r}".format(r=result))
print("Float value is {r:1.2f}".format(r=result))

Float value is 0.1287001287001287
Float value is 0.13

In [34]:
name = "Chandra"
age = 33
print(f"{name} age is {age}")

Chandra age is 33

In [37]:
mylist_1 = ["One","Two","Three"]
mylist_2 = ["Four","Five"]
new_list = mylist_1 + mylist_2
print(new_list)

['One', 'Two', 'Three', 'Four', 'Five']

In [41]:
new_list.append("Six")
print(new_list)

['One', 'Two', 'Three', 'Four', 'Five', 'Six', 'Six', 'Six']

In [42]:
new_list.pop()

'Six'

In [43]:
new_list.pop(1)

'Two'

DICTIONERIES

In [44]:
fruits_lookup = {"apple":10.45,"banana":3.55,"mango":3.76}
fruits_lookup["apple"]

10.45

In [46]:
d = {"name":"Chandra","companys":["Syntel","Wells"],"key3":{"age":33}}

In [50]:
print(d["companys"])
print(d["companys"][1])
print(d["key3"]["age"])

['Syntel', 'Wells']
Wells
33

TUPLE

In [51]:
t = (1,"a","c")
print(t)

(1, 'a', 'c')

In [52]:
myset = set()

In [54]:
myset.add(1)
print(myset)

{1}

In [55]:
myset.add(2)
print(myset)

{1, 2}

In [57]:
myset.add(2)
print(myset)

{1, 2}

In [58]:
m_list = [5,3,2,7,3,8,10,20,17,17]
m_set = set(m_list)
print(m_set)

{2, 3, 5, 7, 8, 10, 17, 20}

In [59]:
%%writefile myfile01.txt
Hello this is a text file
this is a secnond line
this is a third line

Writing myfile01.txt

In [60]:
myfile = open("myfile01.txt")

In [61]:
pwd

'C:\\Users\\Chandrasekhar\\Desktop\\PYTHON_CODE'

In [62]:
myfile.read()

'Hello this is a text file\nthis is a secnond line\nthis is a third line\n'

In [63]:
myfile.read()

''

In [64]:
myfile.seek(0)
myfile.read()

'Hello this is a text file\nthis is a secnond line\nthis is a third line\n'

In [65]:
myfile.seek(0)
myfile.readlines()

['Hello this is a text file\n',
 'this is a secnond line\n',
 'this is a third line\n']

In [66]:
with open("myfile01.txt") as my_new_file:
    contents = my_new_file.read()
print(contents)

Hello this is a text file
this is a secnond line
this is a third line

In [67]:
with open("myfile01.txt",mode="a") as f:
    f.write("\nThis is a 4th line")

In [68]:
with open("myfile01.txt") as my_new_file:
    contents = my_new_file.read()
print(contents)

Hello this is a text file
this is a secnond line
this is a third line

This is a 4th line

In [74]:
for_list = [1,2,6,9,10,8,12]
for num in for_list:
    print(num)

1
2
6
9
10
8
12

In [75]:
for num in for_list:
    if num % 2 == 0:
        print(num)
    else:
        print(f"Odd Number is {num}")

Odd Number is 1
2
6
Odd Number is 9
10
8
12

In [77]:
my_list_for = [(1,5),(7,4),(10,6),(6,9)]

for my in my_list_for:
    print(my)
for a,b in my_list_for:
    print(a)

(1, 5)
(7, 4)
(10, 6)
(6, 9)
1
7
10
6

In [81]:
d = {"k1":"Chandra","k2":"Boli","k3":"Setty"}
for item in d.items():
    print(item)

('k1', 'Chandra')
('k2', 'Boli')
('k3', 'Setty')

In [84]:
x = 0

while x < 5:
    print("X value is {}".format(x))
    x = x+1

X value is 0
X value is 1
X value is 2
X value is 3
X value is 4

In [88]:
word = "abcd"

for i in enumerate(word):
    print(i)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')

In [94]:
from random import shuffle
from random import randrange

a = randrange(0,9)
b = randrange(0,9)
c = randrange(0,9)
d = randrange(0,9)
e = randrange(0,9)
f = randrange(0,9)
print(f"One Time Password is: {a}{b}{c}{d}{e}{f}")

One Time Password is: 062207

In [95]:
result = input("Enter your name: ")

Enter your name: Chandra

In [96]:
result

'Chandra'

In [97]:
age = int(input("Eneter your age: "))

Eneter your age: 20